# Build Artifacts
.gradle/
build/
**/build/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/

# IDE & Editor Specific
.idea/
*.iml
*.iws
*.ipr
.navigation/
captures/
audio_captures/
.externalNativeBuild
.cxx/
local.properties

# OS Specific
.DS_Store
Thumbs.db

# Logs
*.log

# Project Specific
.artifacts
